@font-face {
  src: url('../Fonts/VIE-HandelGothic-MediumItal_0.otf');
  font-family: 'vie italic';
}
@font-face {
  src: url('../Fonts/VIE-HandelGothic-Bold_0.otf');
  font-family: 'vie bold';
}
@font-face {
  src: url('../Fonts/VIE-HandelGothic Medium_0.otf');
  font-family: 'vie medium';
}

@font-face {
  font-family: 'Samsung Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sans Bold'), url('../font/SamsungSans-Bold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vie medium';
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
